html {
    overflow-x: hidden;
}

body {
    background: #476c75;
    /*overflow-x: hidden;*/

}
#logo {
    height: 50px;
    width: 50px;
}
.background {
    min-height: 100%;
    min-width: 100%;
    height: 50%;
    width: 50%;
    position: fixed;
    z-index: -1;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform:translateX(-50%) translateY(-50%);
}
/* section */
#main {
  height: 100%;
}
/* section */
#about {
  position: absolute;
  top:100%;
  height: 100%;
  background: #d9b078;
  width: 100%;
}
.message {
    color: #fff;
    margin-left: 20px;
    font-weight: lighter;
    background: #2c4355;
    padding-left: 20px;
    font-size: 42px;
}
.img_icons {
    display: inline-block;
    width: 100px;
    height: 100px;

}
.icons {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 1em;
    margin-top: 25%;
    padding: 10px 10px 10px 10px;
}
.aboutUs {

    display: inline-flex;
}
/* section */
#techStack {
  position: absolute;
  top:200%;
  height: 100%;
  width: 100%;
  background: rgb(154, 171, 155);
}
.techicons {
    display: inline-block;
    width: 150px;
    height: 200px;
    margin: 1em;
    margin-left: 25%;
    margin-top: 50px;
    
}
/* tech stack logo */
#mongo {
    padding-right: 10px;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    /*overflow: visible !important;*/
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size: 12px    
}
#login-dp .bottom{
    background-color: rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
.logout-profile {
    padding-bottom: 10px;
}
